.DS_Store
_config/awesome/theme/README
_config/awesome/theme/background.png
_config/awesome/theme/background_white.png
_config/awesome/theme/layouts/
_config/awesome/theme/submenu.png
_config/awesome/theme/taglist/
_config/awesome/theme/titlebar/

_config/awesome/wallpaper.jpg
