hosts.nix

*-wifi.nix
*-secrets.nix
.DS_Store
result
_config/awesome/theme/README
_config/awesome/theme/background.png
_config/awesome/theme/background_white.png
_config/awesome/theme/layouts/
_config/awesome/theme/submenu.png
_config/awesome/theme/taglist/
_config/awesome/theme/titlebar/
_config/awesome/wallpaper.jpg
_atom/packages
_atom/blob-store
_atom/compile-cache
_atom/storage
_atom/.apm
_atom/nohup.out
_atom/.node-gyp
_config/sublime-text-3/Cache
_config/sublime-text-3/Local
*.sql
_config/sublime-text-3/Index/
_config/sublime-text-3/Installed Packages/
_config/sublime-text-3/Packages/User/Package Control.cache/
_config/sublime-text-3/Packages/User/Package Control.last-run
_config/sublime-text-3/Packages/User/Package Control.merged-ca-bundle
_config/sublime-text-3/Packages/User/Package Control.sublime-settings
_config/sublime-text-3/Packages/User/Package Control.user-ca-bundle
_config/sublime-text-3/Packages/bz2/
_config/sublime-text-3/Packages/ssl-linux/
etc/hosts
etc/hosts.tmp
etc/moduli
etc/ad
etc/ethernet.pem
nixpkgs/result
bin/
rootfs.tar.xz
*.crt
*~
\#*\#
_emacs.d/ac-comphist.dat
_emacs.d/projectile-bookmarks.eld
