*-wifi.nix
.DS_Store
_config/awesome/theme/README
_config/awesome/theme/background.png
_config/awesome/theme/background_white.png
_config/awesome/theme/layouts/
_config/awesome/theme/submenu.png
_config/awesome/theme/taglist/
_config/awesome/theme/titlebar/
_config/awesome/wallpaper.jpg
_atom/packages
_atom/blob-store
_atom/compile-cache
_atom/storage
_atom/.apm
_atom/nohup.out
_atom/.node-gyp
_config/sublime-text-3/Cache
_config/sublime-text-3/Local
*.sql
