"*":
  "atom-beautify":
    general:
      _analyticsUserId: "dd643054-a800-462a-bcd1-5eae32692908"
      analytics: false
  core:
    audioBeep: false
    autoHideMenuBar: true
    ignoredNames: [
      ".git"
      "*.class"
      "target"
    ]
    packagesWithKeymapsDisabled: [
      "sort-lines"
    ]
  editor:
    autoIndentOnPaste: false
    fontFamily: "Source Code Pro"
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapHangingIndent: 4
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "cc60559a-1c66-2f61-e97e-d52ce124d01d"
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  welcome:
    showOnStartup: false
